name: Docker Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start SSH agent
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GH_SSH_KEY_B64 }}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519
        shell: bash

      - name: Build Docker image
      # We need SSH Forwarding to use our Github Credentials from the Shell in the Image Build.
      # Otherwise we'd have to pass it as an ARG/ENV and that would become visible in the image or ci logs. 
        run: |
          DOCKER_BUILDKIT=1 SSH_AUTH_SOCK=$SSH_AUTH_SOCK docker build --ssh default -t useagent-turbo:dev .
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        shell: bash
