name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - uses: jakebailey/python-test-action@v1
        with:
          python-version: '3.12'
          package-manager: uv
          install-args: '-e .[dev]'
          test-command: 'pytest tests'
