name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: rcmdnk/python-action@v1
        with:
          python-version: '3.12'
          setup-type: uv
         # install-args: '-e .[dev]'
         # pytest-tests-path: 'tests'
          coverage: True
